@charset "UTF-8";
body {
  margin: 0;
  height: 1000px;
  background-color: white;
 /*  background: url(../images/netflixback.jpg); */
}

.cont {
  height: 100vh;
}

.cont:before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

h1 {
  color: white;
  margin: 0;
  font-size: 3em;
  font-family: sans-serif;
}

.lay {
  display: flex;
  flex-direction: column;
}

.head {
  background-color: black;
  text-align: center;
}

.foot {
  background-color: black;
  text-align: center;
  margin-top:200px;
}
