@charset "EUC-KR";
h2{
	padding-top:50px;
	text-align: center;
	font-size:30px;
	width:100%;
	height:130 px;
}

input {
	border : none;
	width : 700px;
}
th {
	width:50%;
}
th ::text{
	margin-left:400px;
}