<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dotory.movie.mapper.MovieMapper">
	<select id="movieList" resultType="co.dotory.movie.service.MovieVO">
		SELECT * FROM DT_MOVIE
	</select>
	<select id="movieDetail" resultType="co.dotory.movie.service.MovieVO" parameterType="int">
		SELECT * FROM DT_MOVIE WHERE MOVIE_ID = #{movieId}
	</select>
</mapper>