<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dotory.movie.mapper.MovieMapper">
	<select id="movieList" resultType="co.dotory.movie.service.MovieVO">
		SELECT a.movie_id,a.movie_name,a.movie_age,a.movie_genre,a.movie_runtime,a.movie_summary,a.movie_poster_img,a.movie_back_img,a.movie_release,NVL(ROUND(AVG(b.review_like),1),0) AS movie_Like
		  FROM DT_MOVIE a, dt_review b
		 WHERE a.movie_id = b.movie_id(+) 
	  GROUP BY a.movie_id, a.movie_name, a.movie_age, a.movie_genre, a.movie_runtime, 
			   a.movie_summary, a.movie_poster_img, a.movie_back_img, a.movie_release
	  ORDER BY movie_id
	</select>
	<select id="movieDetail" resultType="co.dotory.movie.service.MovieVO" parameterType="int">
		SELECT * FROM DT_MOVIE WHERE MOVIE_ID = #{movieId}
	</select>
	<!-- 관리자 -->
	<insert id="movieAdd" >
		 <selectKey keyProperty="movieId" resultType="int" order="BEFORE">
			SELECT max(movie_id) + 1 as movie_id
			  FROM dt_movie
		</selectKey> 
		INSERT INTO DT_MOVIE (movie_id , movie_name , movie_age , movie_genre , movie_runtime , movie_summary , movie_poster_img , movie_back_img , movie_release)
			 VALUES (#{movieId} , #{movieName} , #{movieAge} , #{movieGenre} , #{movieRuntime} , #{movieSummary} , #{moviePosterImg} , #{movieBackImg} , #{movieRelease})
	</insert>
	
	<delete id="movieDelete" > 
	DELETE FROM dt_movie 
		  WHERE movie_id=#{movieId}
	</delete>
	
	<update id="movieModify" parameterType="MovieVO">
		UPDATE dt_movie
		   SET movie_id=#{movieId} , movie_name=#{movieName} , movie_age=#{movieAge} , movie_genre=#{movieGenre} , movie_runtime=#{movieRuntime}   , movie_summary=#{movieSummary} , movie_poster_img=#{moviePosterImg} , movie_back_img=#{movieBackImg} , movie_release=#{movieRelease}
		 WHERE movie_id = #{movieId}
	</update>
	
	<select id="movieSelectList" resultType="co.dotory.movie.service.MovieVO">
		select *
		from dt_movie
		<if test="key == 'id'">WHERE MOVIE_ID LIKE '%' || #{val} || '%'</if>
		<if test="key ==  'name'">WHERE MOVIE_NAME LIKE '%' || #{val} || '%'</if>
		<if test="key == 'all'"> WHERE 1=1</if>
	</select>
</mapper>