<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- JAVA 타입 설정 (카멜케이스, 널값 NULL로 설정)-->
	  <settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /> 
		<setting name="jdbcTypeForNull" value="NULL" />
	  </settings>
	  
	  <typeAliases>
		<typeAlias alias="boardVO" type="co.dotory.board.service.BoardVO"/>
		<typeAlias alias="MemberVO" type="co.dotory.member.service.MemberVO"/>
		<typeAlias alias="MovieVO" type="co.dotory.movie.service.MovieVO"/>
		<typeAlias alias="replyVO" type="co.dotory.board.service.ReplyVO"/>
	</typeAliases>
	
	  <!-- DB 환경 설정(사용자이름 dotory 비밀번호 dotory)  -->
	  <environments default="development">
	    <environment id="development">
	      <transactionManager type="JDBC"/>
	      <dataSource type="POOLED">
	        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
	        <property name="url" value="jdbc:oracle:thin:@43.201.167.53/xe"/>
	        <property name="username" value="dotory"/>
	        <property name="password" value="dotory"/>
	      </dataSource>
	    </environment>
	  </environments>
	  <!-- Mapper(SQL)를 연결한다 맵퍼 만들고 연결해보기 -->


	  <mappers>
	    	<package name="co.dotory" />
	  </mappers>
</configuration>