<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dotory.board.mapper.BoardMapper">

	<select id="boardSelectList" resultType="boardVO">
		SELECT *
		  FROM (
		  		SELECT rownum board_num, a.board_id, a.board_title, a.board_content, a.board_date, a.board_update, a.board_cnt,a.member_id,a.board_reply
		  		  FROM (
		  		  	SELECT bo.*, (select count(*) from dt_reply r where r.board_id = bo.board_id )as board_reply
		  		 	  FROM dt_board bo
	  		 	<if test='key.equals("userId")'>
					WHERE MEMBER_ID LIKE '%' || #{val} || '%'
				</if>
				<if test='key.equals("title")'>
					WHERE BOARD_TITLE LIKE '%' || #{val} || '%'
				</if>
				<if test='key.equals("all")'>
					WHERE 1 = 1
				</if>
		  		 	 ORDER BY board_id desc
				  )a
			)b
		WHERE b.board_num > (#{page} - 1) *10
		<![CDATA[
      	  AND b.board_num <= #{page} * 10
    	]]>
	</select>
	
	<!-- 게시글 갯수 -->
	<select id="totalCnt" resultType="int">
		SELECT count(*)
		  FROM dt_board
		<if test='key == "name"'>
			WHERE MEMBER_ID LIKE '%' || #{val} || '%'
		</if>
		<!-- <if test='key.equals("title")'>
			WHERE BOARD_TITLE LIKE '%' || #{val} || '%'
		</if>
		<if test='key.equals("all")'>
			WHERE 1 = 1
		</if> -->
	</select>
	
	<insert id="boardAdd" parameterType="boardVO">
		<selectKey keyProperty="boardId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(board_id),0) + 1 as board_id
			  FROM dt_board
		</selectKey>
		INSERT 
		  INTO dt_board (board_id, board_title, board_content, member_id)
		VALUES (#{boardId}, #{boardTitle}, #{boardContent}, #{memberId})
	</insert>


	
	
	<!-- 상세보기 -->
	<select id="getBoard">
		SELECT b.*, (SELECT count(*) FROM dt_good WHERE board_id = #{boardId}) as board_good
		  FROM dt_board b
		 WHERE board_id = #{boardId}
	</select>
	
	<update id="addCnt" parameterType="int">
		UPDATE dt_board
		   SET board_cnt = board_cnt + 1
		 WHERE board_id = #{boardId}
	</update>
	
	<!-- 좋아요여부 -->
	<select id="goodChk" resultType="int">
		SELECT count(*)
		  FROM dt_good
		 WHERE member_id = #{memberId}
		   AND board_id = #{boardId} 
	</select>
	
	<insert id="insertGood">
		INSERT 
		  INTO dt_good
		VALUES (#{boardId},#{memberId})
	</insert>
	
	<delete id="deleteGood">
		DELETE
		  FROM dt_good
		 WHERE member_id = #{memberId}
		   AND board_id = #{boardId}
	</delete>
	
	<select id="getGood" parameterType="int" resultType="int">
		SELECT count(*)
		  FROM dt_good
		 WHERE board_id = #{boardId}
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="boardDel" parameterType="int">
		DELETE
		  FROM dt_board
		 WHERE board_id = #{boardId}
	</delete>
	
	
	<!-- 게시글 수정 -->
	<update id="boardUpdate" parameterType="boardVO">
		UPDATE dt_board
		   SET board_title = #{boardTitle}
		     , board_content = #{boardContent}
		     , board_update = sysdate
		 WHERE board_id = #{boardId}
	</update>

	<!-- 관리자게시글삭제 -->
	
	<delete id="boardDelete">
		DELETE 
		  FROM DT_BOARD
		 WHERE BOARD_ID=#{boardId}
	</delete>

</mapper>