<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dotory.member.mapper.MemberMapper">
					<!-- 관리자 전용 mapper -->
	<!-- 회원목록 -->
	<select id="memberList" resultType="co.dotory.member.service.MemberVO">
		SELECT *
		  FROM (
		  		SELECT rownum rn, a.member_id, a.member_name, a.member_tel, a.member_addr
		  		  FROM (
		  		  	SELECT *
		  		 	  FROM dt_member
		  		 	 ORDER BY member_id desc
				  )a
			)b
		WHERE b.rn > (#{page} - 1) *10
		<![CDATA[
      	  AND b.rn <= #{page} * 10
    	]]>
	</select>
	
	<!-- member갯수 -->
	<select id="totalCnt" resultType="int">
		SELECT count(*)
		  FROM dt_member
	</select>
	
	<!-- 회원검색 -->
	<select id="memberSelectList" resultType="co.dotory.member.service.MemberVO">
		select *
		from dt_member
		<if test="key == 'name'">WHERE MEMBER_NAME LIKE '%' || #{val} || '%'</if>
		<if test="key ==  'tel'">WHERE MEMBER_TEL LIKE '%' || #{val} || '%'</if>
		<if test="key == 'addr'"> WHERE MEMBER_ADDR  LIKE '%'|| #{val} || '%'</if>
		<if test="key == 'all'"> WHERE 1=1</if>
	</select>
	
	<!-- 회원 상세보기 -->
	<select id="memberSelect">
		select *
		  from dt_member
		 where member_id = #{memberId}
	</select>

	
	<!-- 회원정보수정 -->
	<update id="memberUpdate" parameterType="co.dotory.member.service.MemberVO">
		UPDATE DT_MEMBER
		<set>
			 <if test="memberName != null">MEMBER_ID = #{memberId},</if>
   		     <if test="memberName != null">MEMBER_NAME = #{memberName},</if>
		   	 <if test="memberTel != null">MEMBER_TEL = #{memberTel},</if>
		   	 <if test="memberAddr != null">MEMBER_ADDR = #{memberAddr},</if>
		</set>
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<!-- 회원삭제 -->
 	<delete id="memberDelete" >
		delete dt_member
		where member_id = #{memberId}
		
	</delete>					
							<!-- ========관리자끝========== -->
	<insert id="memberInsert" parameterType="co.dotory.member.service.MemberVO">
		INSERT INTO DT_MEMBER(member_Id,member_pw,member_name,member_tel,member_addr)
					VALUES(#{memberId},#{memberPw},#{memberName},#{memberTel},#{memberAddr})
	</insert>
	
	 <select id="ismemberIdCheck" resultType="boolean">
		SELECT COUNT(*) AS ID FROM DT_MEMBER WHERE MEMBER_ID = #{id}
	</select> 
	
	<select id="ismemberCheck" resultType="boolean">
		SELECT COUNT(*) AS ID FROM DT_MEMBER WHERE MEMBER_ID = #{id} AND MEMBER_PW = #{pw}
	</select> 
	
	<select id="memberLogin" resultType="co.dotory.member.service.MemberVO">
		select * from dt_member
		where member_id = #{memberId} 
		and   member_pw = #{memberPw}
	</select>
	<!-- <update id="memberUpdate" parameterType="co.dotory.member.service.MemberVO">
		UPDATE MEMBER
		<set>
			<if test="memberPw != null">member_pw = #{memberPw}</if>
			<if test="memberName != null">member_Name = #{memberName}</if>
			<if test="memberTel != null">member_Tel = #{memberTel}</if>
			<if test="memberAddr != null">member_Addr = #{memberAddr}</if>
			<if test="member != null">member_pw = #{memberPw}</if>
			<if test="memberPw != null">member_pw = #{memberPw}</if>	
		</set>
	</update> -->
	
	<!-- 이미지 업데이트  -->
	<update id="updateImage" parameterType="co.dotory.member.service.MemberVO">
		update dt_member
		set  member_img = #{memberImg}
		where member_id = #{memberId}
	</update>




</mapper>
