<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dotory.member.mapper.PickMapper">
	
	
	<select id="userPickList" resultType="co.dotory.movie.service.MovieVO">
    select *
	from (
    	select rownum rn, a.*
    	from (
        	select m.movie_id, m.movie_age, m.movie_like, m.movie_name, m.movie_poster_img
        	from dt_pick p,dt_movie m where p.movie_id = m.movie_id AND p.member_id = #{memberId} order by movie_id desc
        	) a
    	) b
	where b.rn > (#{page} -1) * 10
	<![CDATA[
	and b.rn <= #{page} * 10
	]]>
  </select>
  
  	<select id="movieDetail" resultType="co.dotory.movie.service.MovieVO" parameterType="int">
		SELECT * FROM DT_MOVIE WHERE MOVIE_ID = #{movieId}
	</select>
	
	
	
	
		<!-- 게시글 갯수 -->
	<select id="totalCnt" resultType="int">
		SELECT count(*)
		  FROM dt_pick
		<if test='key == "name"'>
			WHERE MEMBER_ID LIKE '%' || #{val} || '%'
		</if>
	</select>

	<select id="moviePick">
		SELECT * FROM DT_PICK WHERE MOVIE_ID = #{movieId} AND member_id = #{memberId}
  	</select>

	<insert id="moviePickCheck" parameterType="co.dotory.member.service.PickVO">
		INSERT INTO DT_PICK
		VALUES (#{movieId},#{memberId})
	</insert>
	
	<delete id="moviePickUnCheck" parameterType="co.dotory.member.service.PickVO">
		DELETE DT_PICK
		WHERE MOVIE_ID = #{movieId} AND member_id = #{memberId}
		
	</delete>
	

</mapper>